@import url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
    --primary-color: #c98d83;
    --secondary: #783b31;
    --bg: #f2f1ec;
    --black: #000;
    --white: #fff;
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

* {
    font-family: "Vidaloka", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 5rem;
}

section {
    padding: 2rem 7%;
}

.heading {
    text-align: center;
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 3rem;
    padding: 1.2rem 0;
    font-size: 4rem;
}
.heading2 {
    margin-top: 100px;
    text-align: center;
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 3rem;
    padding: 1.2rem 0;
    font-size: 4rem;
}

.heading span {
    color: var(--secondary);
    text-transform: uppercase;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: var(--white);
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    background: var(--primary-color);
    cursor: pointer;
}
.wrapper {
    background: var(--white);
    padding: 2rem;
    max-width: 576px;
    width: 100%;
    border-radius: 0.75rem;
}
.wrapper h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 0.5rem;
    font-size: 2rem;
    color: yellow;
    margin-bottom: 2rem;
}
.rating .star {
    cursor: pointer;
}
.rating .star.active {
    opacity: 0;
    animation: animate 0.5s calc(var(--i) * 0.1s) ease-in-out forwards;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.rating .star:hover {
    transform: scale(1.1);
}

.btn-group {
    display: flex;
    grid-gap: 0.5rem;
    align-items: center;
}
.btn-group .btn {
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 500;
}
.btn-group .btn.submit {
    background: var(--white);
    color: var(--black);
    width: 60px;
}
.btn-group .btn.submit:hover {
    background: crimson;
}
.btn-group .btn.cancel {
    background: var(--white);
    color: var(--blue);
    width: 60px;
}
.btn-group .btn.cancel:hover {
    background: crimson;
}

.btn:hover {
    background: var(--secondary);
}

/* header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--bg);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.header .logo i {
    color: var(--secondary);
    padding-right: 0.5rem;
}

.header .navbar a {
    font-size: 1.7rem;
    color: var(--black);
    margin: 0 1rem;
    left: 20px;
}

.header .navbar a:hover {
    color: var(--primary-color);
}

.header .icons div {
    font-size: 2.5rem;
    margin-left: 1.2rem;
    color: var(--black);
    cursor: pointer;
}

.header .icons div:hover {
    color: var(--primary-color);
}

#menu-btn {
    display: none;
}

/* shopping cart */

.cart-items-container {
    position: fixed;
    top: 0;
    right: -105%;
    width: 35rem;
    background: var(--white);
    display: flex;
    flex-flow: column;
    gap: 2rem;
    justify-content: center;
    height: 100%;
    z-index: 1200;
    padding: 2rem;
    text-align: center;
}

.cart-items-container.active {
    right: 0;
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
}

.cart-items-container #close-form {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 4rem;
    cursor: pointer;
    color: var(--black);
}

.cart-items-container #close-form:hover {
    transform: rotate(90deg);
    color: var(--primary-color);
}
.logoName {
    color: var(--black);
    font-size: 2rem;
    font-weight: bolder;
    left: 20px;
    margin-right: 70px;
}
.header .logo {
    height: 4rem;
    display: flex;
    text-align: center;
}
.header {
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 1.4rem 7%;
    z-index: 999;
}
.header .logo img {
    height: 4rem;
    width: 60px;
}

.cart-items-container .title {
    font-size: 2.5rem;
    color: var(--secondary);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.cart-items-container .cart-item {
    position: relative;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.cart-items-container .cart-item .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: var(--black);
    cursor: pointer;
}

.cart-items-container .cart-item .fa-times:hover {
    color: var(--primary-color);
}

.cart-items-container .cart-item img {
    height: 7rem;
}

.cart-items-container .cart-item .content h3 {
    font-size: 2rem;
    color: var(--black);
    padding-bottom: 0.5rem;
}

/* .cart-items-container .cart-item .content .price {
    font-size: 1.5rem;
    color: var(--primary-color);
    text-align: left;
} */

/* end */

/* home */

@keyframes fadeIn {
    0% {
        transform: translateY(-4rem) scale(1.1);
        opacity: 0;
    }
}

.home {
    padding: 0;
}

.home .slide {
    min-height: 100vh;
    background-size: cover !important;
    background-position: center !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    z-index: -1;
}

.home .slide .content {
    text-align: center;
    width: 70rem;
    display: none;
}

.home .slide .content h3 {
    font-size: 3rem;
    text-transform: uppercase;
    color: rgba(0, 0, 255, 0.904);
    line-height: 1.2;
    padding: 2rem 0;
    animation: fadeIn 0.4s cubic-bezier(0.54, 1.3, 0.63, 1.34) 0.2s backwards;
}

.home .slide .content .btn {
    animation: fadeIn 0.4s cubic-bezier(0.54, 1.3, 0.63, 1.34) 0.4s backwards;
}

.home .swiper-slide-active .content {
    display: inline-block;
}

.swiper-button-next,
.swiper-button-prev {
    height: 3rem;
    width: 3rem;
    line-height: 4rem;
    margin-left: 1rem;
    background: var(--white);
    color: var(--black);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background: var(--primary-color);
    color: var(--white);
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 1rem;
}

/* .swiper-slide.slide {
    background: url("../images/UKM-dechefdefinz.jpg") no-repeat fixed center;
    size: 85%;
} */

/* Gaya untuk wadah utama Swiper */
.swiper-container {
    width: 100%;
    height: 300px; /* Sesuaikan tinggi dengan kebutuhan */
}
.swiper-container img {
    width: 200px;
}

/* Gaya untuk setiap slide */
.swiper-slide {
    text-align: center;
}

/* Gaya untuk deskripsi testimonial */
.swiper-slide p {
    margin-top: 10px;
    font-style: italic;
}

.content-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.swiper-img {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 81%;
    transform: translate(-50%, -50%);
}

.content-slide-text {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    color: rgba(0, 0, 255, 0.904);
    line-height: 1.2;
    padding: 2rem 0;
    animation: fadeIn 0.4s cubic-bezier(0.54, 1.3, 0.63, 1.34) 0.2s backwards;
}

lottie-player {
    width: 200px;
    height: 100px;
    position: relative;
    z-index: 0;
}
/* end */

/* banner */

.banner {
    background: url(../images/banner-bg.jpg);
    background-size: cover !important;
    background-position: center !important;
}

.banner img {
    margin-top: 3rem;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* banner end*/

/* about */

.about .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.about .row .image {
    flex: 1 1 40rem;
}

.about .row .image img {
    width: 80%;
    height: 100%;
}

.about .row .content {
    flex: 1 1 40rem;
}

.about .row .content h3 {
    color: var(--black);
    font-size: 3.5rem;
    line-height: 1.5;
}

.about .row .content h3 span {
    color: var(--secondary);
}

.about .row .content p {
    font-size: 1.4rem;
    color: #444;
    padding: 1rem 0;
    line-height: 2;
}

/* about end*/

/* product */

.product {
    background: var(--bg);
}

.product .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.product .box-container .box {
    background: var(--white);
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
}

.product .box-container .box .image {
    height: 35rem;
    width: 100%;
    padding: 1.1rem;
}

.product .box-container .box .image img {
    height: 100%;
    width: 70%;
    border-radius: 0.5rem;
    object-fit: cover;
}

.product .box-container .box .content {
    padding: 2rem;
    padding-top: 0;
}

.product .box-container .box .content h3 {
    color: var(--black);
    font-size: 2.5rem;
}

.product .box-container .box .content .stars {
    padding: 1rem 0;
}

.product .box-container .box .content .stars i {
    font-size: 1.7rem;
    color: var(--secondary);
}

.product .box-container .box .content .price {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--secondary);
    margin-right: 1rem;
}
.product .product-row {
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
}
.product .product-row .box {
    display: flex;
    flex-direction: column;
    width: 50rem;
    background-color: var(--white);
    align-items: center;
    text-align: center;
    padding: 2rem;
    gap: 1.5rem;
    border-radius: 3rem;
    margin-right: 3rem;
}
.product .product-row .img img {
    height: 100%;
    width: 70%;
    border-radius: 20px;
}
.product .product-row .img img:hover {
    transform: scale(1.1);
}
.product .product-row .content {
    margin-bottom: 4rem;
}
.product .product-row .product-content h3 {
    font-size: 2rem;
    color: var(--black);
}
.product .product-row .product-content p {
    font-size: 1.5rem;
    line-height: 1.6;
    color: var(--black);
}

.acumalaka {
    font-size: 1.5rem;
    line-height: 1.6;
    color: var(--black);
    background-color: pink;
}

.product .product-row .product-content .orderNow {
    height: 3rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.product .product-row .product-content .orderNow button {
    font-size: 1.8rem;
    background-color: var(--black);
    color: var(--white);
    border-radius: 0.7rem;
    padding: 0.7rem 2rem;
    cursor: pointer;
}
.product .product-row .product-content .orderNow button:hover {
    font-size: 2rem;
    letter-spacing: 5px;
}
.price span {
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}
.price {
    color: black;
    font-size: 2.5rem;
}

.acumalaka {
    color: black;
    font-size: 2.5rem;
}

/* product end */

/* gallery */

.gallery .gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.gallery .gallery-container .box {
    height: 40rem;
    position: relative;
    overflow: hidden;
}

.gallery .gallery-container .box img {
    height: 100%;
    width: 100%;
}

.gallery .gallery-container .box:hover img {
    transform: scale(1.1);
}

.gallery .gallery-container .box .icons {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.gallery .gallery-container .box .icons i {
    font-size: 6rem;
    color: var(--white);
}

.gallery .gallery-container .box:hover .icons {
    display: flex;
}

/* gallery end*/

/* weekly promotions */

.promotion {
    background: url(../images/promotion.jpg) no-repeat;
    background-size: cover !important;
    background-position: center !important;
}

.promotion .box-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 4rem;
}

.promotion .box-container .box {
    flex: 1 1 55rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.promotion .box-container .box .content {
    text-align: center;
}

.promotion .box-container .box .content h3 {
    font-size: 3rem;
    color: var(--black);
}

.promotion .box-container .box .content p {
    font-size: 1.4rem;
    color: #444;
    padding: 1rem 0;
    line-height: 1.8;
}

/* weekly promotions ends*/

/* team */

.contact .row {
    display: flex;
    background: rgb(239, 211, 160);
    background-size: 1500px;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form h3 {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: rgb(164, 59, 59);
}

/* team */

/* parallax */

.parallax {
    background: url(../images/parallax.jpg) no-repeat;
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover !important;
    background-position: center !important;
    z-index: 0;
    position: relative;
}

.parallax::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.parallax .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.parallax .box-container .box {
    text-align: center;
    justify-content: center;
}

.parallax .box-container .box .image {
    padding-top: 5rem;
}

.parallax .box-container .box .image img {
    height: 35%;
    width: 35%;
    object-fit: cover;
}

.parallax .box-container .box .content {
    padding: 2rem;
}

.parallax .box-container .box .content h3 {
    color: var(--white);
    font-size: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.parallax .box-container .box .content p {
    color: var(--white);
    font-size: 1.4rem;
    line-height: 1.8;
}

/* parallax end */

/* review */
.review .review-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.review .review-row .box {
    width: 50%;
    margin-bottom: 3rem;
    padding: 3rem;
    border-radius: 3rem;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
}

.review .review-row .box .client-review {
    margin-bottom: 3rem;
}
.review .review-row .box .client-review p {
    text-align: center;
    font-size: 2.5rem;
    line-height: 1.5;
}
.review .review-row .box .client-info {
    display: flex;
    align-items: center;
}
.review .review-row .box .client-info .img {
    padding-right: 3rem;
    border-radius: 20px;
}
.review .review-row .box .client-info .img img {
    width: 7.5rem;
    height: 7.5rem;
    clip-path: circle(50% at 50% 50%);
    border-radius: 10px;
}

.review .review-row .box .client-info .clientDetailed h3 {
    font-size: 2.5rem;
}
.review .review-row .box .client-info .clientDetailed p {
    font-size: 1.5rem;
}

/* review end */

/* order */

.order .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    background-color: beige;
}

.order .row .image {
    flex: 1 1 30rem;
}
.order .row p {
    font-size: 20px;
}
.order .row h3 {
    font-size: 30px;
}
.order .row h4 {
    font-size: 20px;
}

.order .row .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.order .row form {
    flex: 1 1 50rem;
    padding: 5rem;
    text-align: center;
}

.order .row form .inputBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.order .row form .inputBox input,
.order .row form textarea {
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.7rem;
    color: var(--secondary);
    background: var(--bg);
    border-radius: 0.5rem;
    width: 49%;
}

.order .row form .inputBox input:focus,
.order .row form textarea:focus {
    border: 0.1rem solid var(--primary-color);
}

.order .row form textarea {
    width: 100%;
    resize: none;
    height: 15rem;
}

/* order */

/* footer */

.footer {
    background: var(--bg);
    text-align: center;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.footer .box-container .box h3 {
    font-size: 2.2rem;
    color: var(--secondary);
    padding: 1rem 0;
}

.footer .box-container .box p {
    font-size: 1.5rem;
    line-height: 2;
    color: #444;
    padding: 0.5rem 0;
}

.footer .box-container .box .share {
    margin-top: 1rem;
}

.footer .box-container .box .share a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 10%;
    font-size: 3rem;
    background: var(--primary-color);
    color: var(--white);
    margin-right: 0.3rem;
}

.footer .box-container .box .share a:hover {
    background: var(--secondary);
}

.footer .box-container .box .link {
    font-size: 1.7rem;
    line-height: 2;
    color: var(--primary-color);
    padding: 0.5rem 0;
    display: block;
}

.footer .box-container .box .link:hover {
    color: var(--secondary);
    text-decoration: underline;
}

.footer .credit {
    text-align: center;
    margin-top: 3rem;
    padding-top: 3rem;
    font-size: 2rem;
    color: var(--primary-color);
    border-top: 0.1rem solid var(--secondary);
}

.footer .credit span {
    color: var(--secondary);
}

.form-group input {
    padding: 10px 15px;
    border-radius: 5px;
}

.btn-rating {
    color: #fff;
    margin-top: 15px;
    padding: 10px 30px;
    border-radius: 20px;
    background-color: #783b31;
    cursor: pointer;
}

.form-review {
    list-style: none;
}

p:has(+ input[required])::after {
    content: "*";
    color: red;
}
/* footer */
p:has(+ textarea[required])::after {
    content: "*";
    color: red;
}

/* footer */

/* media queries */

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    #menu-btn {
        font-size: 30px;
        display: inline-block;
        cursor: pointer;
    }

    .fa-times {
        transform: rotate(180deg);
    }

    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: var(--white);
        border-top: 0.1rem solid var(--secondary);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a {
        display: block;
        margin: 2rem;
    }

    .home .slide .content {
        width: 40rem;
    }

    .home .slide .content h3 {
        font-size: 4rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .home .slide .content h3 {
        font-size: 3rem;
    }
}
